:root {
  --robin-blue: #25ced1;
  --white: #ffffff;
  --champagne-pink: #fceade;
  --coral: #ff8a5b;
  --pink: #ea526f;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--champagne-pink);
}

nav {
  background-color: var(--robin-blue);
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
}

.navLinks {
  background-color: var(--robin-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--white);
  font-weight: bolder;
  background-color: var(--robin-blue);
  margin-right: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.footerLink {
  color: var(--white);
  text-decoration: none;
  background-color: var(--robin-blue);
  margin-right: 20px;
}

.name {
  color: var(--white);
  font-weight: bolder;
  background-color: var(--robin-blue);
  margin-right: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-button {
  text-decoration: none;
  color: black;
  background-color: var(--white);
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #1f9ec4;
  color: #ffffff;
}

.portraitImage {
  border: 1px solid var(--robin-blue);
  width: 200px;
  height: 250px;
  margin-top: 9px;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.aboutHeader {
  text-decoration: underline;
  color: var(--nyanza);
  font-size: 25px;
}

.currentPage {
  background-color: var(--pink);
  color: var(--white);
}

.contactContainer {
  display: flex;
  justify-content: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  max-width: 700px;
}

.contactForm input[type='text'],
.contactForm input[type='email'],
.contactForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.contactForm button[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactForm button[type='submit']:hover {
  background-color: #45a049;
}

.resumeContent {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.resume {
  text-align: center;
  color: #333;
}

.resumeHeader {
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li::before {
  content: '•';
  color: #555;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.resumeHeader + ul {
  margin-top: 5px;
}

.portfolioContainer {
  display: flex;
  justify-content: center;
}

.portLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: fit-content;
  /* height: 100vh; */
  margin-bottom: 10px;
  margin-top: 15px;
}

.linkCard {
  background-color: var(--white);
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardFooter {
  background-color: var(--white);
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
}

.headerla {
  background-color: var(--white);
}

/* Port Card not in use for the time being */
.portCard {
  background-color: var(--white);
  position: relative; /* Ensures proper stacking context for absolute positioning */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden; /* Hides the child elements that overflow the card */
}

.portCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.portCard:hover img {
  opacity: 1;
}

.portCard h2 {
  margin-bottom: 35px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
}

@media screen and (width <= 800px) {
  .portLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    bottom: auto; /* Allows footer to properly move to bottom of page when page is small */
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navLinks {
    margin-bottom: 10px;
  }

  .nav-button {
    margin: 0 5px;
  }

  .name {
    margin-bottom: 10px;
    margin-top: -10px;
  }
}

@media screen and (height < 1170px) {
  footer {
    bottom: auto; /* Allows footer to properly move to bottom of page when page is small */
  }
}
